name: Build Mod

on: [push, pull_request]

permissions:
  contents: write

jobs:
  buildJar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up PATH
        run: |
          echo "${ANDROID_HOME}/build-tools/34.0.0" >> $GITHUB_PATH
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Build mod jar
        run: |
          chmod +x ./gradlew
          ./gradlew deploy
      - name: Upload built jar file
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.repository.name }}
          path: build/libs/${{ github.event.repository.name }}.jar
#      - name: Create Release
#        uses: softprops/action-gh-release@v1
#        with:
#          tag_name: release-${{ github.run_number }}
#          files: build/libs/${{ github.event.repository.name }}.jar
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}